[submodule "lib/plugins/include"]
	path = lib/plugins/include
	url = https://github.com/dokufreaks/plugin-include
[submodule "lib/plugins/sqlite"]
	path = lib/plugins/sqlite
	url = https://github.com/cosmocode/sqlite
[submodule "lib/plugins/data"]
	path = lib/plugins/data
	url = https://github.com/splitbrain/dokuwiki-plugin-data
[submodule "lib/plugins/advanced"]
	path = lib/plugins/advanced
	url = https://github.com/LotarProject/dokuwiki-plugin-advanced
[submodule "lib/plugins/bootswrapper"]
	path = lib/plugins/bootswrapper
	url = https://github.com/LotarProject/dokuwiki-plugin-bootswrapper
[submodule "lib/plugins/iframe"]
	path = lib/plugins/iframe
	url = https://github.com/Chris--S/dokuwiki-plugin-iframe
